# -*- mode: conf; -*-

# Custom ignores.
# ---------------
# When you run "cmake ./build", the temporary build artifacts are stored in the
# ./build folder.  None of those need to be versioned.
build/*

# ArUco generates these during its build.
aruco-3.0.10/src/libaruco.so.*
aruco-3.0.10/aruco.pc
aruco-3.0.10/aruco-uninstalled.pc
aruco-3.0.10/arucoConfig.cmake
aruco-3.0.10/cmake_uninstall.cmake
aruco-3.0.10/utils/aruco_batch_processing
aruco-3.0.10/utils/aruco_print_dictionary
aruco-3.0.10/utils/aruco_print_marker
aruco-3.0.10/utils/aruco_simple
aruco-3.0.10/utils/aruco_test
aruco-3.0.10/utils/aruco_tracker
aruco-3.0.10/utils_calibration/aruco_calibration
aruco-3.0.10/utils_calibration/aruco_calibration_fromimages
aruco-3.0.10/utils_markermap/aruco_create_markermap
aruco-3.0.10/utils_markermap/aruco_markermap_pix2meters
aruco-3.0.10/utils_markermap/aruco_simple_markermap
aruco-3.0.10/utils_markermap/aruco_test_markermap
aruco-3.0.10/utils_svm/aruco_test_svm

# From https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore
# ----------------------------------------------------------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# From https://github.com/github/gitignore/blob/master/CMake.gitignore
# --------------------------------------------------------------------

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
**/cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
